.glow-button{
    background-color: aquamarine;
    width: 120px;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition:box-shadow 0.3s;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}
.glow-button:hover{
    box-shadow: 0 5px 15px aquamarine;
    color:black;
}