/* src/LoginPage.css */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

#root{
    width:100%;
    background-color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /*.containerL {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }*/
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Josefin Sans', sans-serif;
  }
  
  .Page{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9d6ff;
    /* background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
  }
  
  .containerL{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
  }
  
  .containerL p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
  }
  
  .containerL span{
    font-size: 12px;
  }
  
  .containerL a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
  }
  
  .containerL button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .containerL button.hidden{
    background-color: transparent;
    border-color: #fff;
  }
  
  .containerL form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
  }
  
  .containerL input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }
  
  .form-containerL{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .containerL.active .sign-in{
    transform: translateX(100%);
  }
  
  .sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .containerL.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
  }
  
  @keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
  }
  
  .social-icons{
    margin: 20px 0;
  }
  
  .social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
  }
  
  .toggle-containerL{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
  }
  
  .containerL.active .toggle-containerL{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
  }
  
  .toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  
  .containerL.active .toggle{
    transform: translateX(50%);
  }
  
  .toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  
  .toggle-left{
    transform: translateX(-200%);
  }
  
  .containerL.active .toggle-left{
    transform: translateX(0);
  }
  
  .toggle-right{
    right: 0;
    transform: translateX(0);
  }
  
  .containerL.active .toggle-right{
    transform: translateX(200%);
  }
  
  .pannel{
    display: none;
  }

  .Messager{
    position: fixed;
    z-index: 2000;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
  }
  .Messager p{
    background-color: #c2c2c2;
    padding: 5% 15%;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
  }
  .dropdep{
    background-color: #eee;
    padding:0px 10px;
    color:gray;
    width:100%;
    height:35px;
    border-radius: 8px;
    margin: 10px 0;
  }
  .Page{
    background-color: white;
  }