/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

/*=============== VARIABLES CSS ===============*/


/*========== Responsive typography ==========*/

.TestHome{
    width: 100%;
}
.namer{
    z-index: 1;
    padding: 10px;
    font-family: 'Josefin Sans', sans-serif;
}
.HeaderTest{
    background-color:lightgray;
    display:flex;
    justify-content: space-around;
    height:45px;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 0;
}
.loTest{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.loTest a{
    text-decoration: none;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
}
.loTest a:hover{
    color:white;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:  "Poppins", sans-serif;
  color:black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.containerTest {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  width:70%;
}

.card__containerTest {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;

}

.card__article {
  position: relative;
  overflow: hidden;
  padding: 0px;
  outline: none;
  border: none;
  background-color: white;

}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: white;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size:.813rem;
  margin-bottom: .25rem;
}

.card__title {
  font-size: 1.25rem;
  font-weight: 500;
  color:black;
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: .813rem;
  font-weight: 500;
  color: black;
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
  outline: none;
  border:none;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .containerTest {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__containerTest {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .containerTest {
    height: 100vh;
  }

  .card__containerTest {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
.WebT{
  margin-top: 50px;
}



/*========== Test Style ==========*/


body{
    width: 100%;
    height:100vh;
}

.Login{
    display: none;
}
.FormT,.WebT,.TestPage{
    display: none;
}


.testBut{
    background-color: rgb(0, 140, 255);
    width: 120px;
}
.butCont{
    
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;

}
.butCont button{
    width: 200px;
    border-radius: 10px;
}
.Form-Test1,.Form-Test2,.From-Test3{
    display: none;
}

.QTemplate{
    display: none;
}

.mark{
    display: none;
}

.TestHome{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.testImger{
    width:500px;
}

.TestR{

    width:35%;
    height:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TestT{
    font-size: 20px;
    margin-bottom: 0px;
}
.namer{
    position: fixed;
    top:50px;
    right:25px;
}

.testMod{
    display:none;
}

.no{
    display: none;
}

.HeaderTest{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.hb{
  width: 100%;
}