@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');


.test-cont{
    background-color:white;
    width:500px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    margin-top: 0px;
}

.qa{
    
    width:100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.q{
    font-family: 'Josefin Sans', sans-serif;
    width:90%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.a{
    
   display: grid;
   
   width: 100%;
   grid-template-columns: 1fr 1fr;
   column-gap: 10px;
   row-gap: 1em;
   padding: 10px;
   color: black;
}

.rad{
    display: none;
} 

.opt{
    background-color: whitesmoke;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition:all 0.3s;
    border:2px solid black;
}
.opt:hover{
    background-color: white;
    color:black;
}

/* .box{
    width:100%;
    height: 100%;
    background-color: red;
} */
.dbody{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.testMod{
    min-width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0px;
    padding:0px;
}
.testMod iio{
    width:80%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}
.test-cont .tttoo{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15pt;
    background-color: aquamarine;
    width:100%;
    padding-top:10px;
    padding-bottom:5px;
    margin-bottom:10px;
    margin-top: 20px;
}
#butt{
    background-color: aquamarine;
    width: 120px;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition:box-shadow 0.3s;
    margin: 20px;
    border:none;
}
#butt:hover{
    box-shadow: 0 5px 15px aquamarine;
    color:black;
    outline: none;
    border:none;
}
.testMod{
    display: none;
}
.bh{
    width:100%;
    margin-top: 100px;
}
.FormT{
    width:100%;
    height:100vh;
}
.mark{
    background-color: whitesmoke;
    display:none;
    flex-direction: column;
    padding:70px;
    height:300px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border:2px solid black;
}
.mark p{
    font-family: 'Josefin Sans', sans-serif;
}
.uii{
    font-size: 15pt;
    width:100%;
    border-bottom: 2px solid black;
    margin-top: -30px;
    margin-bottom: 50px;
}
.iio{
    text-align: center;
}
.marktsb{
    display: none;
}
#op{
    display:none;
}
.oop{
    background-color: aquamarine;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition:box-shadow 0.3s;
    margin: 20px;
    border:none;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.oop:hover{
    box-shadow: 0 5px 15px aquamarine;
    color:black;
    outline: none;
    border:none;
}