.Analysis1{
    background-color:#f0f0f0;
    border-radius: 10px;
}

.Analysis2{
    width:500px;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bstbox{
    background-color: #f0f0f0;
    height: 45%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 40px solid aquamarine;
    overflow: hidden;
    overflow-y: scroll;
}
.bstbox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.bstbox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.bsttitle{
    position: fixed;
    margin-top: -25px;
}

.bstbox ul{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bsttab{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
}
.topbst{
    background-color: #c2c2c2;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 40px;
    align-items: center;
}

.bsttab p,.topbst p{
    width:150px;
    text-align: center;
    overflow-wrap: break-word;
}

.ki button{
    background-color: lightgrey;
    cursor: pointer;
    transition: all 0.5s;
}

.ki button:hover{
    color:white;
}

.ANALYSIS{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.LEARN,.WEBPRACTICE,.FORMPRACTICE,.STUDENT{
    display: none;
    justify-content: space-evenly;
    align-items:center;
}
.LEARN,.WEBPRACTICE,.FORMPRACTICE,.STUDENT{
    flex-direction: column;
}

.Excal{
    height: 350px;
}
.Excal::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .Excal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .ButStack{
    width:500px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
  }

  .ButStack button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: aquamarine;
    transition:box-shadow 0.3s;
    font-size: 12pt;
  }

  .ButStack button:hover{
    box-shadow: 0 5px 15px aquamarine;
    color:black;
    
  }

  .CreateLearn,.CreateLearnQ,.CreateLearnF,.SearchLog{
    position: fixed;
    top:20vh;
    background-color:#c2c2c2;
    display: none;
    flex-direction: column;
    height:60vh;
    width:40%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    z-index:2;
  }
  .CreateLearn input,.CreateLearnQ input,.CreateLearnF input,.SearchLog input{
    height: 30px;
    width:300px;
    border-radius: 10px;
    padding: 20px;
    font-size: 12pt;
  }

  .EditLearn,.EditLearnQ,.EditLearnF,.EditLearnLo{
    position: fixed;
    top:20vh;
    background-color:#c2c2c2;
    display: none;
    flex-direction: column;
    height:60vh;
    width:40%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px; 
    z-index:2;
  }
  .DeleteLearn,.DeleteLearnQ,.DeleteLearnF,.DeleteLearnLo{
    position: fixed;
    top:20vh;
    background-color:#c2c2c2;
    display: none;
    flex-direction: column;
    height:60vh;
    width:40%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px; 
    z-index:2;

  }

  .ELP1,.ELP1Q,.ELP1F,.ELP1Lo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
  }
  .ELP1 input,.ELP2 input,.DL input,.ELP1Q input,.ELP2Q input,.DLQ input,.ELP1F input,.ELP2F input,.DLF input,.ELP1Lo input,.ELP2Lo input,.DLLo input{
    width:300px;
    height: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  .ELP2,.ELP2Q,.ELP2F,.ELP2Lo{
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15pt;
  }

  .DL,.DLQ,.DLF,.DLLo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
  }

  .Gup,.GupQ,.GupF,.GupLo{
    background-color: rgba(0,0, 0, 0.8);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
  }
  .rsl{
    width:280px;
    height:100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .QA{
    width: 100%;
    background-color: #d3d2d2;
    height: 200px;
    overflow-y: scroll;
  }
  .QA div{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    background-color: #d3d2d2;
    height:200px;
  }

  .CreateLearnQ{
    height: 550px;
    margin-top: -80px;
  }

  .gbg{
    width:300px;
  }
  .gbg input{
    width:50%;
    margin-right: 10px;
  }
  