.Analysis1{
    background-color:#f0f0f0;
    border-radius: 10px;
}

.Analysis2{
    width:500px;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bstbox{
    background-color: #f0f0f0;
    height: 45%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 40px solid aquamarine;
    overflow: hidden;
    overflow-y: scroll;
}
.bstbox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.bstbox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.bsttitle{
    position: fixed;
    margin-top: -25px;
}

.bstbox ul{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bsttab{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    align-items: center;
}
.topbst{
    background-color: #c2c2c2;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 40px;
    align-items: center;
}

.bsttab p,.topbst p{
    width:150px;
    text-align: center;
}

.ki button{
    background-color: lightgrey;
    cursor: pointer;
    transition: all 0.5s;
}

.ki button:hover{
    color:white;
}

.ANALYSIS{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.LEARN,.PRACTICE,.STUDENT{
    display: none;
    justify-content: space-evenly;
    align-items:center;
}
