@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

body{
    width: 100%;
    height:100vh;
    background-color: #e0e0e0;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
}

.pan{
    background-color:#e0e0e0;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    width:100%;
}
.in1{
    width: 100%;
}
.oiii{
    display: flex;
    justify-content:space-between ;
}
.oiii div{
    width:50%;
    margin-right: 40px;
    margin-top:13px ;
    display: flex;
    justify-content: space-evenly;
    color:black;
}
.oiii div a{
    color:black;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}
.oiii div a:hover{
    color:white;
}


.bstbox{
    width:500px;
    height: 220px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: white;
    border:2px solid grey;
    margin: 20px;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
.bstbox::-webkit-scrollbar {
    display: none;
  }

.bsttab{
    display: flex;
    width:350px;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.topbst{
    display: flex;
    width:365px;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px;
    margin: 10px;
    font-weight:bold;
    font-family: 'Josefin Sans', sans-serif;
}
.regtop{
    padding-left: 15px;
    font-family: 'Josefin Sans', sans-serif;
}

.bstbox ul li p{
    font-family: 'Josefin Sans', sans-serif;
}

.bsttitle{
    width:500px;
    font-size: 13pt;
    padding-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: aquamarine;
    
}

.csbs,.ece,.cse,.mech,.civil,.eee,.aids,.it{
    width:200px;
    height:20px;
    margin-left: 20px;
    background-color: aquamarine;
    border-radius: 10px;
}
/* .csbs{
    background-color: red;
}
.ece{
    background-color: blue;
}
.cse{
    background-color: green;
}
.it{
    background-color: yellowgreen;
}
.mech{
    background-color: orangered;
}
.civil{
    background-color: aqua;
}
.aids{
    background-color: purple;
}
.eee{
    background-color: yellow;
} */

.analy{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background: white;
    border:2px solid grey;
    width:500px;
    font-family: 'Josefin Sans', sans-serif;
    height:310px;
}

.tab{
    display: flex;
    justify-content: start;
    padding: 5px;
    padding-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
}
.tab p{
    width:70px;
    font-family: 'Josefin Sans', sans-serif;
}

.contpan{
    width: 100%;
    background-color: lightgray;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.bodypan{
    display:flex;
    justify-content: start;
    width:100%;
}
.sidebar{
    background-color: #017371;
    width: 150px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.titpan{
    font-size: 15pt;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding: 10px;
    margin-left: 125px;
}

.sidetab{
    background-color:#017371;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 20px;
    width:100%;
    border-radius: 0px;
}
.sidetab:hover{
    background-color: #049492;
    border:0px;
    outline: none;
}
.sidetab:focus{
    border:0px;
    background-color: #04bbb8;
    outline: none;
}
.sidetab:active{
    border: none;
}

.analysis,.home{
    display: none;
    width:100%;
}

.listtitle{
    width:500px;
    font-size: 13pt;
    padding-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: aquamarine;
}

.lsttab{
    display: flex;
    width:350px;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;

}

.lstbx{
    width:500px;
    height: 310px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: white;
    border:2px solid grey;
    margin: 20px;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
.lstbx::-webkit-scrollbar {
    display: none;
  }

.lstbx ul li p{
    font-family: 'Josefin Sans', sans-serif;
}
.CreateMenu{
    position: fixed;
    top:30%;
    left:30%;
    background-color: whitesmoke;
    width:40%;
    height:50%;
    text-align: start;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: auto;
    border-radius: 10px;

}
.CreateMenu::-webkit-scrollbar{
    display: none;
}
.CreateMenu p{
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;
    
    width:100%;

    
}
.CreateMenu p input{
    background-color: whitesmoke;
    width:auto;
    font-family: 'Josefin Sans', sans-serif;
}
.CMenu{
    margin-top: 30px;
    width:80%;
    border:2px solid black;
    padding:15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.CMenu button,.ButAdTest{
    background-color: aquamarine;
    width: 120px;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition:box-shadow 0.3s;
    border:none;
}
.ButAdTest{
    background-color: whitesmoke;
    border:2px solid aquamarine;
    transition: all 0.3s;
}
.CMenu button:hover,.ButAdTest:hover{
    box-shadow: 0 5px 15px aquamarine;
    color:black;
    background-color: aquamarine;
    border: none;

}
.ButAdTest:hover{
    border:2px solid aquamarine;
}

.TestBut{
    width:70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.mods{
    display: flex;
    flex-direction: column;
    width:80%;
    height:150px;
    padding: 10px;
    border:2px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.mods input{
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
}

.close{
    display: none;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.4);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.test{
    background-color: whitesmoke;
}
.CreateTest,.DeleteTest{
    background-color: aquamarine;
    width: 120px;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition:box-shadow 0.3s;
    border:none;
    cursor: pointer;
    margin-right: 40px;
}
.CreateTest:hover,.DeleteTest:hover{
    box-shadow: 0 5px 15px aquamarine;
    color:black;
    background-color: aquamarine;
    border: none;
}
.buut{
    position: absolute;
    top:50px;
    left:0;
    right:0;
    background-color: whitesmoke;
    height:65px;
    display:flex;
    justify-content: end;
    align-items: center;

}
.rtt{
    margin-top: 70px;
    font-family: 'Josefin Sans', sans-serif;
}
.DeleteTestMod{
    border:2px solid black;
    position: fixed;
    top:30%;
    left:30%;
    background-color: whitesmoke;
    width:40%;
    height:50%;
    text-align: start;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    border-radius: 10px;
}
.DeleteTestMod div p{
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 10px;
    
    width:100%;
}
.DeleteTestMod div p input{
    background-color: whitesmoke;
    width:30px;
    font-family: 'Josefin Sans', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.DeleteTestMod h3{
    font-family: 'Josefin Sans', sans-serif;
}
.DeleteTestMod button{
    background-color: aquamarine;
    width: 120px;
    color:black;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    border-radius: 10px;
    transition:box-shadow 0.3s;
    border:none;
    cursor: pointer;
}
.DeleteTestMod button:hover{
    box-shadow: 0 5px 15px aquamarine;
    color:black;
    background-color: aquamarine;
    border: none;
}
.learn{
    width:100%;
    display: none;
}
.ftest{
    display: none;
    width:100%;
}
.cmr1{
    margin-top: 80px;
}